<div class="row section">
   <div class="medium-12 columns panel radius">
      <div class="medium-10 medium-offset-1 columns">
<h1>About Link.ly</h1>

<p>Link.ly aims to provide users with a way to keep all of their favorite websites in an easy-to-access web-app.</p>
<p>There are a huge variety of different browsers, on different platforms, and the typical internet user may use Firefox, Chrome, Safari, or Internet Explorer on a desktop, phone, or tablet and bookmark websites on each one. When it's time to find that one page with that great photo of a cat with a top hat you really want to show your friends, it takes forever to remember where you saved it! What a hassle!</p>

<div class="catpicture" style="background-image: url(http://s3-ec.buzzfed.com/static/imagebuzz/web02/2010/8/10/1/cat-plus-permanent-top-hat-hilarity-5321-1281418205-0.jpg)"></div>

<p><em>Who wouldn't want to see this cat?</em></p>

<h2>Saving a Website</h2>

<p>Saving a website is simple. After making an account, you'll be presented with a blank screen with a bar that says "Enter Website".</p>

<div class="sample1" style="background-image: url(http://i.imgur.com/jTqJ7BP.png)"></div>

<p><em>Welcome!</em></p>

<p>You copy and paste a url into the bar, press Enter, and voila, you have a brand new bookmark.</p>

<div class="sample1" style="background-image: url(http://i.imgur.com/qVsoDWD.png
)"></div>

<p><em>Congrats on the new bookmark!</em></p>

<p>Go ahead and save a couple of bookmarks. You'll be glad you did.</p><p><p>
<h2>Searching Bookmarks</h2>
<p>After having so many bookmarks, you'd think finding them would be a drag.</p>

<div class="sample1" style="background-image: url(http://i.imgur.com/3X2NXNQ.png
)"></div>

<p><em>I know I have Google in here somewhere...</em></p>

<p>But all you have to do is search for it in the search bar. You can search the exact title, or you can search keywords of the website.</p>

<div class="sample1" style="background-image: url(http://i.imgur.com/EL3N4TU.png)"></div>

<p><em>I found Google AND a useless search engine!</em></p>

<p>You can even search through public bookmarks if you'd like to see what else people have been saving.</p>

<p>Some future implementations we plan on are the ability to drag bookmarks for organization, including folders. We would be open for other suggestions. If you'd like to get in touch with either of us, you can go to Ron's Github <%= link_to "here", "https://github.com/dada5714" %> and Philip's Github <%= link_to "here", "https://github.com/philipqnguyen" %>.
</div>
</div>
</div>
