<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact from an Omarker user</h1>
    <p><%= 'Subject: ' + @subject %></p>
    <p><%= 'Name: ' + @name %></p>
    <p><%= 'Email: ' + @email %></p>
    <p><%= 'Body: ' + @body %></p>
  </body>
</html>
