// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';

h2 {
text-align: center;
font-family: $font-family-serif;
color: white;
}

.section {
  padding-top: 40px;
}

a {
  font-family: $font-family-serif;
}
.info {
  text-align: right;
  margin-right: 8px;
  color: black;
}

.alert-box.round {
  text-align: center;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.bookmark {
    transition: background-color .3s;
}
.bookmark:hover {
  background-color: #ccccff;
}

@media all and (min-width: 1101px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 20%;
  }


  .masonry .item, .masonry .grid-sizer {
    width:  20%;
  }
}

@media all and (max-width: 1100px) and (min-width: 851px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 25%;
  }

  .masonry .item, .masonry .grid-sizer {
    width:  25%;
  }
}

@media all and (max-width: 850px) and (min-width: 701px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 33.3%;
  }

  .masonry .item, .masonry .grid-sizer {
    width:  33.3%;
  }
}

@media all and (min-width: 701px) {
  .picture {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.masonry .item, .masonry .grid-sizer {
  height: 280px;
  float: left;
}

p.website_title {
  margin-top: 4px;
  margin-bottom: -3px;
  font-size: 100%;
  text-align: center;
  line-height: -10px;
}

}

@media all and (max-width: 700px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 50%;
  }

  .masonry .item, .masonry .grid-sizer{
    width:  50%;
  }

  .picture {
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.masonry .item, .masonry .grid-sizer {
  height: 150px;
  float: left;
}

p.website_title {
  margin-top: 2px;
  margin-bottom: -25px;
  font-size: 100%;
  text-align: center;
  line-height: -40px;
}

}





* {
  font-family: $font-family-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 0;
}

.picture {
  position: relative;
}

a {
  color: $primary-color;
}
