// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';

.info {
  text-align: right;
  margin-right: 8px;
  color: black;
}

.alert-box.round {
  text-align: center;
  border-radius: 0;
}

@media all and (min-width: 1001px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 20%;
  }


  .masonry .item, .masonry .grid-sizer {
    width:  20%;
  }
}

@media all and (max-width: 1000px) and (min-width: 701px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 25%;
  }

  .masonry .item, .masonry .grid-sizer {
    width:  25%;
  }
}

@media all and (max-width: 700px) {

  .bookmark {
    box-shadow: 1px 1px 3px #888888;
    background-color: $smoke;
    width: 50%;
  }

  .masonry .item, .masonry .grid-sizer{
    width:  50%;
  }
}

p.website_title {
  margin-top: 4px;
  margin-bottom: -3px;
  font-size: 100%;
  text-align: center;
  line-height: -10px;

}



* {
  font-family: $font-family-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 0;
}

.picture {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.masonry .item, .masonry .grid-sizer {
  height: 280px;
  float: left;
}

.picture {
  position: relative;
}

.info{
}

a {
  color: $primary-color;
}
